{% extends "base.html" %} {% block body %}

<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/signup.css') }}"
/>
<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
<div class="form">
  <div class="form-title">Welcome</div>
  <div class="subtitle">Let's create your account!</div>
  <form method="POST" action="/signup">
    <div class="input-container ic1">
      <input
        id="firstname"
        class="input"
        method="POST"
        action="/signup"
        type="login"
        name="login"
        placeholder=" "
      />
      <div class="cut"></div>
      <label for="firstname" class="placeholder">Your login</label>
    </div>
    <div class="input-container ic2">
      <input
        id="lastname"
        class="input"
        name="password"
        type="password"
        placeholder=" "
      />
      <div class="cut"></div>
      <label for="lastname" class="placeholder">Password</label>
    </div>
    <button type="text" class="submit">submit</button>
  </form>
  <p class="verdict">{{verdict}}</p>
</div>
{% endblock %}
