{% extends "base.html" %}

{% block body %}
<div>
    <h3> Login </h3>
    <div>
        <p>
            {{verdict}}
        </p>
        <form method="POST" action="/signin">
            <div>
                <div>
                    <input type="login" name="login" placeholder="Your Login" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <button> SignIn </button>
        </form>
    </div>
</div>
{% endblock %}